@charset "UTF-8";
body {
  color: #555;
  font-size: 18px;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif; }

a {
  text-decoration: none; }

html,
body {
  background-color: #f5f5f5; }

.fixed-top {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-x: scroll;
  height: 60px;
  background-color: #f5f5f5; }

.title {
  float: left;
  width: 145px;
  padding-left: 5px;
  height: 60px; }
  .title h1 {
    color: #00c853;
    margin-top: 7px;
    font-size: 24px;
    font-weight: bold; }

.menu {
  white-space: nowrap; }
  .menu .active {
    color: #00c853;
    font-weight: bold;
    border-bottom: solid 2px #00c853;
    box-sizing: border-box;
    background-color: white; }

.menu-item {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #555;
  cursor: pointer; }
  .menu-item:hover {
    font-weight: bold; }
  .menu-item .cross {
    position: absolute;
    top: -20px;
    right: 0; }

main {
  margin-top: 70px; }

.canvas-container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px #f5f5f5;
  border: 1px solid #f5f5f5; }
  .canvas-container h1 {
    color: white;
    width: 98%;
    text-align: center;
    background-color: #00c853;
    padding: 1%; }
  .canvas-container .caption {
    position: absolute;
    top: calc(50% - 2vw);
    left: calc(50% - 8vw);
    text-align: center;
    width: 16vw; }
    .canvas-container .caption em {
      font-size: 10vw;
      font-weight: bold; }

.graph,
.powers {
  width: 95%; }

.graph {
  margin: 25px auto; }

.powers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto; }

.power {
  width: 49%; }
