@charset "UTF-8";
body {
  font-size: 18px;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif; }

a {
  text-decoration: none; }

h1 {
  font-size: 24px;
  font-weight: bold; }

.dark-green {
  background-color: #009624;
  height: 13vh;
  padding-top: 2vh; }

.green {
  height: 15vh;
  background-color: #00c853; }

.font-center {
  text-align: center; }

.font-white {
  color: white; }

.margin-left {
  margin-left: 20px; }

.left-menu {
  width: 20vw;
  height: 100%; }

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  float: left;
  margin-top: 10px;
  margin-right: 10px; }

.user p {
  line-height: 70px; }

.user:after {
  content: '';
  display: table;
  clear: both; }

.all-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section {
  height: 55vh; }

.section-item {
  display: inline-block;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #333;
  line-height: 50px; }
  .section-item a {
    color: #333; }
  .section-item:hover {
    box-sizing: border-box;
    border-right: 10px solid #009624; }

.setting img {
  width: 8vh;
  height: 8vh; }
