@import "_color";

.left-menu{
  width: 20vw;
  height: 100%;
  .user{
    width: 100%;
    height: 15vh;
    background-color: $dark-green;
  }
  .menu-btn{
    width: 100%;
    height: 15vh;
    background-color: $green;
  }
}
