h1 {
    color: red;
    transition: 200ms ease-out transform;
    &:hover {
        color: blue;
        transform: translate(10px,0);
  }
}

.left-menu{
  width: 20vw;
  height: 100%;
  .user{
    width: 100%;
    height: 15vh;
    background-color: #009624;
  }
  .menu-btn{
    width: 100%;
    height: 15vh;
    background-color: #00c853;
  }
}
