  <footer>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script type="text/javascript" src="./js/min/section.js"></script>
  <script type="text/javascript" src="./js/min/index.js"></script>
</body>
</html>
