<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>NCU HEMS</title>
  <meta name="description" content="">
  <meta name="keywords" content=""/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div id="modal-content">
    <span class="cross" onclick="closeModal()">×</span>
    <h2>新しいセクションの追加</h2>
    <p>開始ナンバーと終了ナンバーを入力してください。</p>
    <small>右上の「×」か「背景」をクリックするとウィンドウを閉じます。</small>
    <form name="section" onclick="addSection(); return false;">
      <input type="number" name="from" placeholder="開始ナンバー"/>
      <input type="number" name="to" placeholder="終了ナンバー"/>
      <button type="submit">追加</button>
    </form>
  </div>
  <header>
    <nav class="fixed-top">
      <div class="title">
        <h1>NCU HEMS</h1>
        <p id="modal-open" onclick="openModal()">セクション追加</p>
      </div>
      <ul class="menu">
        <li class="menu-item active" onclick="addActive(event, true)">
          <span class="cross" onclick="removeSection(event)">×</span>
          <span class="from">1</span> ~ <span class="to">5</span>
        </li>
        <li class="menu-item" onclick="addActive(event, true)">
          <span class="cross" onclick="removeSection(event)">×</span>
          <span class="from">6</span> ~ <span class="to">10</span>
        </li>
        <li class="menu-item" onclick="addActive(event, true)">
          <span class="cross" onclick="removeSection(event)">×</span>
          <span class="from">11</span> ~ <span class="to">15</span>
        </li>
      </ul>
    </nav>
  </header>
