<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>NCU HEMS</title>
  <meta name="description" content="">
  <meta name="keywords" content=""/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header>
    <nav class="fixed-top">
      <div class="title">
        <h1>NCU HEMS</h1>
        <a href="#" onclick="addSection()">セクション追加</a>
      </div>
      <ul class="menu">
        <li class="menu-item active" onclick="addActive(event)">
          <span class="cross" onclick="removeSection(event)">×</span>
          <span class="from">1</span> ~ <span class="to">5</span>
        </li>
        <li class="menu-item" onclick="addActive(event)">
          <span class="cross" onclick="removeSection(event)">×</span>
          <span class="from">6</span> ~ <span class="to">10</span>
        </li>
        <li class="menu-item" onclick="addActive(event)">
          <span class="cross" onclick="removeSection(event)">×</span>
          <span class="from">11</span> ~ <span class="to">15</span>
        </li>
      </ul>
    </nav>
  </header>
