<nav id="left-menu">
  <ul>
    <li><a href="./index.html"><i class="fa fa-4x fa-map-marker" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-4x fa-line-chart" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-4x fa-bell" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-4x fa-cog" aria-hidden="true"></i></a></li>
  </ul>
</nav>
