<nav class="left-menu">
  <div class="dark-green font-white">
    <h1 class="margin-left">NCU HEMS</h1>
    <div class="user margin-left">
      <img src="./images/map.png" alt="user" />
      <p>admin</p>
    </div>
  </div>
  <div class="all-sections green font-center font-white">
    <p>section(12)</p>
  </div>
  <ul class="section font-center">
    <li class="section-item"><a href="#">section1(2)</a></li>
    <li class="section-item"><a href="#">section2(3)</a></li>
    <li class="section-item"><a href="#">section3(10)</a></li>
  </ul>
  <div class="setting dark-green font-center font-white">
    <img src="./images/config-w.png" alt="setting" />
    <p>set up section</p>
  </div>
</nav>
