<nav class="left-menu">
  <div class="user">
  </div>
  <div class="menu-btn">
  </div>
  <ul class="section">
    <li><a href="#">section1</a></li>
    <li><a href="#">section2</a></li>
    <li><a href="#">section3</a></li>
  </ul>
  <div class="setup menu-btn">
  </div>
</nav>
