<!DOCTYPE html>
<html lang="ja">
<% include common/_head %>
<body>
  <!-- <% include common/_header %> -->
  <% include common/_left-menu %>
  <main>
    <h1>NCU HEMS(仮)</h1>
    <input class="btn" type="button" value="全体で使用量が超えたらアラーム">
    <input class="btn" type="button" value="一つの部屋の使用量が超えたらアラーム">
  </main>
  <% include common/_right-menu %>
</body>
</html>
