<!DOCTYPE html>
<html lang="ja">
<% include common/_head %>
<body>
  <!-- <% include common/_header %> -->
  <% include common/_left-menu %>
  <main>
    <h1>NCU HEMS(仮)</h1>
    <img src="../img/graph.png" alt="" height="700">
  </main>
  <% include common/_right-menu %>
</body>
</html>
