<% include common/_header %>

<main>
  <section class="graph canvas-container">
    <h1>graph</h1>
    <canvas id="power-usage" class="canvas" height="150" width="450"></canvas>
  </section>
  <div class="powers">
    <section class="power canvas-container">
      <h1>電力使用量</h1>
      <canvas id="daily-power-usage" class="canvas" height="150" width="150"></canvas>
    </section>
    <section class="power canvas-container">
      <h1>電力代換算</h1>
      <canvas id="power-cost" class="canvas" height="150" width="150"></canvas>
    </section>
  </div>
</main>

<% include common/_footer %>
