<!DOCTYPE html>
<html lang="ja">
<% include common/_head %>
<body>
  <% include common/_header %>
  <% include common/_left-menu %>
  <main>

  </main>
  <% include common/_right-menu %>
  <!-- <script src="js/script.js"></script> -->
</body>
</html>
