<!DOCTYPE html>
<html lang="ja">
<% include common/_head %>
<body>
  <!-- <% include common/_header %> -->
  <% include common/_left-menu %>
  <main>
    <section>
      <h1>1st</h1>
      <div id="first-floor"></div>
    </section>
    <section>
      <h1>2st</h1>
      <div id="second-floor"></div>
    </section>
    <section>
      <h1>3st</h1>
      <div id="third-floor"></div>
    </section>
  </main>
  <% include common/_right-menu %>
  <script type="text/javascript">
    datasets = [50,110,170,230,290];
    var svg = d3.select("#first-floor").append("svg").attr({width:700,height:200});

    svg.selectAll("rect")
      .data(datasets)
      .enter()
      .append("rect")
      .attr({
        x:function(d){return d},
        y:function(d){return 100},
        width:50,
        height:50,
      	fill:"#9B9B9B"
      });

      datasets = [50,110,170,230,290];
      var svg = d3.select("#second-floor").append("svg").attr({width:700,height:200});

      svg.selectAll("rect")
        .data(datasets)
        .enter()
        .append("rect")
        .attr({
          x:function(d){return d},
          y:function(d){return 100},
          width:50,
          height:50,
        	fill:"#9B9B9B"
        });

        datasets = [50,110,170,230,290];
        var svg = d3.select("#third-floor").append("svg").attr({width:700,height:200});

        svg.selectAll("rect")
          .data(datasets)
          .enter()
          .append("rect")
          .attr({
            x:function(d){return d},
            y:function(d){return 100},
            width:50,
            height:50,
          	fill:"#9B9B9B"
          });
    </script>
</body>
</html>
